<a href="{% url 'home' %}" ><h1>LOGO</h1></a>

<!-- search bar - search for Groups, friends -->


<a href="{% url 'home' %}">Home</a>


  {% if request.user.is_authenticated %}
  <h4?>Hello {{request.user}}</h4>
  <a href="{% url 'logout' %}">Logout</a>

  <a href="{% url 'user-profile' request.user.id %}">My Profile</a>
  
  <a href="{% url 'choose_room' %}">Live Chat Rooms</a>

 

  {% else %}
  <a href="{% url 'login' %}">Login</a>

  {% endif %}


  <a href="{% url 'signUp' %}">Sign Up</a>
<hr>
