{% extends 'base.html' %}


{% block content %}


<h1>User Profile Page</h1>

<h1>{{user.username}}</h1>
<!-- <h1>{{user.name}}</h1> -->
<h2>{{user.email}}</h2>

<h2>Bio</h2>
<p>{{user.appuser.bio}}</p>
<img style="border-radius: 50%;" src="{{user.appuser.profile_picture.url}}" alt="profile picture" width="100" height="100"/>




<div>
  {% if request.user == user %}
  <a href="{% url 'updateProfile' %}">Update Profile</a>
  {% endif %}
  <div>
    <h5>{{group_count}} groups active</h5>
    <a href="{% url 'createGroup' %}">Create a Group</a>
    <h2>Groups I have created</h2>
  
    {% for group in groups %}
    <div>
      <div>
      <img src="{{group.groupCreator.profile_picture.url}}">
      
      {% if request.user == group.groupCreator %}
      <a href="{% url 'updateGroup' group.id %}">Edit</a>
      <a href="{% url 'deleteGroup' group.id %}">Delete</a>
      {% endif %}
    </div>
      <span>@{{group.groupCreator.username}}</span> 
      <h5>{{ group.id}} -- <a href="{% url 'group' group.id %}">{{group.name}}</a></h5>  <!-- href => Refers to name= in urls.py so you do not have to change anything if url path changes-->
      <hr>
      
    </div>
      {% endfor %}
  </div>

  <div>

   

    
    </div>

    <div>
      <h2>Groups Joined</h2>
      {% for message in group_messages %}
      <div>
      
        <span>@{{message.group.groupCreator.username}}</span> 
        
        <h5>{{ message.group.id}} -- <a href="{% url 'group' message.group.id %}">{{message.group.name}}</a></h5>  <!-- href => Refers to name= in urls.py so you do not have to change anything if url path changes-->
        <hr>
       
      </div>
      {% endfor %}
  
      
      </div>

  </div>
</div>



{% endblock content %}
